<template>
  <div ref="container" class="overflow-hidden aspect-square" />
</template>

<script setup lang="ts">
import { BoardState, Position } from '@go158/go-validator';

interface Emits {
  (event: 'positionClicked', position: Position): void;
}

const emits = defineEmits<Emits>();
const props = withDefaults(defineProps<{
  initial: BoardState;
  current: BoardState;
  showCoordinates?: boolean;
  clip?: boolean;
}>(), {
  showCoordinates: true,
  clip: true,
});

const container = ref<HTMLDivElement>();
const { svg } = useSvgBoard({
  initial: toRef(props, 'initial'),
  current: toRef(props, 'current'),
  showHints: ref(false),
  clip: toRef(props, 'clip'),
  showCoordinates: toRef(props, 'showCoordinates'),
  onPositionClicked: (position) => {
    emits('positionClicked', position);
  },
});

watch(svg, (newSvg: SVGSVGElement) => {
  container.value?.replaceChildren(newSvg);
});

onMounted(() => {
  container.value?.replaceChildren(svg.value);
});
</script>
