<template>
  <div ref="container" class="w-full h-full" />
</template>

<script setup lang="ts">
import { BoardState } from '@go158/go-validator';
import { TreeEmits } from '~~/composables/useTree';

const emits = defineEmits<TreeEmits>();

const props = defineProps<{
  initialBoardState: BoardState;
  currentBoardState: BoardState;
}>();

const container = ref<HTMLDivElement>();

const { svg } = useTree(
  toRef(props, 'initialBoardState'),
  toRef(props, 'currentBoardState'),
  emits,
);

watch(svg, (newSvg) => {
  container.value?.replaceChildren(newSvg);
});

onMounted(() => {
  container.value?.replaceChildren(svg.value);
});
</script>
