<template>
  <MainCard class="flex items-center px-10 gap-10 justify-evenly">
    <button :disabled="disabled || current === initial" class="disabled:opacity-40" @click="navigator.navigateToRoot()">
      <Icon size="24" name="ph:arrow-bend-double-up-left" />
    </button>
    <button :disabled="disabled || current === initial" class="disabled:opacity-40" @click="navigator.navigateBackward()">
      <Icon size="24" name="ph:arrow-bend-up-left" />
    </button>
    <button :disabled="disabled || current.children.size === 0" class="disabled:opacity-40" @click="navigator.navigateForward()">
      <Icon size="24" name="ph:arrow-bend-up-right" />
    </button>
    <button :disabled="disabled || current.children.size === 0" class="disabled:opacity-40" @click="navigator.navigateToLeaf()">
      <Icon size="24" name="ph:arrow-bend-double-up-right" />
    </button>
  </MainCard>
</template>

<script setup lang="ts">
import { BoardState, useGoValidator } from '@go158/go-validator';

withDefaults(defineProps<{
  initial: BoardState;
  current: BoardState;
  navigator: ReturnType<typeof useGoValidator>['navigator'];
  disabled?: boolean;
}>(), {
  disabled: false,
});
</script>
