<template>
  <div class="flex flex-col items-center gap-4 w-full">
    <span>Current session</span>
    <div
      ref="bar"
      class="w-full relative h-4 rounded-full overflow-clip transition-all duration-300"
      :class="[ total === 0 ? 'bg-mine-shaft-200' : 'bg-red']"
    >
      <span
        class="absolute left-0 h-full bg-green transition-all duration-500"
        :style="{
          width: `calc(${100 * solves / total}% + ${solves > 0 ? '8px' : '0px'})`,
          clipPath: 'polygon(0% 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%)'
        }"
      />
    </div>
    <div class="flex gap-4">
      <span class="font-bold text-lg">{{ solves }} <span class="font-normal text-lg opacity-40">solves</span></span>
      <span class="font-bold text-lg">{{ total }} <span class="font-normal text-lg opacity-40">attempts</span></span>
    </div>
  </div>
</template>

<script setup lang="ts">
const { solves, total } = usePracticeSession();
</script>
