<template>
  <Transition
    name="slide-fade"
    @before-leave="close"
    @after-leave="emits('destroy')"
  >
    <div
      v-show="visible"
      id="test"
      class="absolute flex items-center gap-4 p-4 text-white transform -translate-x-1/2 rounded-lg left-1/2 top-8"
      :class="type === SnackBarType.SUCCESS ? 'bg-green' : 'bg-red'"
      @mouseleave="clearTimer"
      @mouseenter="startTimer"
    >
      <Suspense>
        <Icon v-if="type === SnackBarType.SUCCESS" size="24" name="ph:check-circle" />
        <Icon v-else-if="type === SnackBarType.ERROR" size="24" name="ph:warning-octagon" />
      </Suspense>

      <span> {{ message }} </span>
    </div>
  </Transition>
</template>

<script setup lang="ts">
import { SnackBarType } from '~~/composables/useSnackBar';

const props = defineProps<{
  message: string;
  type: SnackBarType;
  duration: number;
}>();

const emits = defineEmits<{(event: 'destroy'): void}>();

const visible = ref(false);

onMounted(() => {
  visible.value = true;
  startTimer();
});

const close = () => {
  visible.value = false;
};

let stopTimer: (() => void) | undefined;

function startTimer () {
  if (props.duration === 0) { return; }
  ({ stop: stopTimer } = useTimeoutFn(() => {
    close();
  }, props.duration * 1000));
}

function clearTimer () {
  stopTimer?.();
}
</script>

<style scoped>
.slide-fade-enter-active {
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transform: translateX(-50%);
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from {
  transform: translateY(-20px) translateX(-50%);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateY(-20px) translateX(-50%);
  opacity: 0;
}
</style>
