<template>
  <svg width="100%" height="100%">
    <circle
      :cx="
        editing
          ? '50%'
          : playerToMove === Player.BLACK
            ? 'calc(50% + 6px)'
            : 'calc(50% - 6px)'
      "
      cy="50%"
      r="8"
      :fill="
        !editing
          ? playerToMove === Player.BLACK
            ? 'white'
            : 'black'
          : altKeyState
            ? 'white'
            : 'black'
      "
      filter="drop-shadow(0px 0px 1px rgb(0 0 0 / 1))"
    />
    <circle
      v-if="!editing"
      :cx="
        playerToMove === Player.BLACK
          ? 'calc(50% - 6px)'
          : 'calc(50% + 6px)'
      "
      cy="50%"
      r="8"
      :fill="
        playerToMove === Player.BLACK
          ? 'black'
          : 'white'
      "
      filter="drop-shadow(0px 0px 1px rgb(0 0 0 / 1))"
    />
  </svg>
</template>

<script setup lang="ts">
import { Player } from '@go158/go-validator';

defineProps<{
  editing: boolean;
  playerToMove: Player;
}>();

const altKeyState = useKeyModifier('Alt');
</script>
