<template>
  <div class="flex justify-between py-10">
    <NuxtLink to="/" class="text-3xl font-bold">
      TsumeGod
    </NuxtLink>

    <div v-if="user !== null" class="flex items-center gap-10">
      <NuxtLink to="/library">
        <Icon name="ph:books" size="24" />
      </NuxtLink>

      <button class="flex items-center gap-3 group">
        <span class="font-medium group-hover:underline">{{ username }}</span>
        <NuxtImg :src="user.user_metadata.picture ?? 'https://www.computerhope.com/jargon/g/guest-user.png'" placeholder="https://www.computerhope.com/jargon/g/guest-user.png" width="36" class="rounded-full bg-mine-shaft-700" />
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
const user = useSupabaseUser();
const { username } = useProfile();
</script>
