<template>
  <Icon v-if="pending" name="ph:spinner" size="32" class="mx-auto animate-spin opacity-40" />

  <div v-else-if="tsumego !== null" class="flex flex-col justify-center w-full mx-auto max-w-editor">
    <div class="flex justify-between gap-4 pb-10">
      <div class="flex gap-4">
        <div class="flex items-baseline gap-4">
          <input
            ref="name"
            v-model="tsumego.name"
            placeholder="No name"
            type="text"
            class="font-mono text-2xl focus:outline-none"
            :class="[
              tsumego.name === null && 'italic',
              editing ? 'bg-mine-shaft-700' : 'bg-transparent'
            ]"
            :style="{
              width: `${tsumego.name?.length ?? 7}ch`
            }"
            :disabled="!editing"
            tabindex="-1"
          >
          <button class="flex items-center justify-center w-6 h-6 border rounded-lg" @click="focusName">
            <Icon :name="updatingName ? 'ph:spinner' : (editing ? 'ph:check': 'ph:pencil-simple-line')" :class="[updatingName && 'animate-spin']" size="14" />
          </button>
        </div>

        <div class="flex flex-col text-xs opacity-60">
          <p>
            Created <span class="font-bold">{{ useTimeAgo(tsumego.created_at).value }}</span>
          </p>
          <p>Last modified <span class="font-bold">{{ useTimeAgo(tsumego.modified_at).value }}</span></p>
        </div>
      </div>

      <div class="flex gap-4">
        <button class="h-8 px-4 text-black bg-white rounded-lg disabled:opacity-40" :disabled="!unsavedChanged" @click="updateTsumego">
          <Icon :name="updatingSgf ? 'ph:spinner' : 'ph:floppy-disk'" size="18" class="text-mine-shaft-900" :class="[updatingSgf && 'animate-spin']" />
        </button>
        <button class="h-8 px-4 bg-white rounded-lg" @click="downloadTsumego()">
          <Icon name="ph:download-simple" size="18" class="text-mine-shaft-900" />
        </button>
        <button class="h-8 px-4 rounded-lg bg-red" @click="deleteTsumego()">
          <Icon :name="deleting ? 'ph:spinner' : 'ph:trash'" :class="[deleting && 'animate-spin']" size="18" />
        </button>

        <button class="flex items-center h-8 gap-2 px-4 border rounded-lg" @click="changeVisibility()">
          <Icon :name="updatingVisibility ? 'ph:spinner' : (tsumego.public ? 'ph:globe' : 'ph:lock')" :class="[updatingVisibility && 'animate-spin']" size="18" />
          <span>{{ tsumego.public ? 'Public' : 'Private' }}</span>
        </button>
      </div>
    </div>

    <div class="grid w-full gap-6 grid-cols-editor">
      <MainCard class="flex flex-col-reverse w-0 min-w-full shadow-main">
        <textarea ref="commentTextArea" v-model="current.boardState.comment" placeholder="Write a comment..." rows="4" class="p-4 resize-none focus:outline-none focus:bg-mine-shaft-100 bg-mine-shaft-700 focus:text-black text-sm font-mono" />

        <hr class="border-2 border-mine-shaft-900">

        <div class="flex-grow">
          <ClientOnly>
            <GameTree :current-board-state="current.boardState" :initial-board-state="initial.boardState" @node-clicked="(node) => navigator.navigateToNode(node)" />
          </ClientOnly>
        </div>
      </MainCard>

      <div class="flex items-center justify-center w-0 min-w-full aspect-square">
        <ClientOnly>
          <Board class="w-full h-full shadow-main rounded-3xl" :initial="initial.boardState" :current="current.boardState" :clip="false" @position-clicked="onPositionClicked" />
        </ClientOnly>
      </div>

      <Navigation class="w-0 mx-auto h-14 min-w-fit" :initial="initial.boardState" :current="current.boardState" :navigator="navigator" />

      <div class="flex justify-center gap-4 py-1">
        <button class="w-12 h-12 bg-white border rounded-lg" @click="togglePlacingStones()">
          <Stone
            :player-to-move="current.boardState.playerToMove"
            :editing="placingStones"
          />
        </button>

        <button class="w-12 h-12 border rounded-lg aspect-square" :class="[commentTextAreaFocused && 'bg-white text-black']" @click="commentTextAreaFocused = true">
          <Icon name="ph:chat-teardrop-text-light" size="24" />
        </button>

        <button
          class="w-12 h-12 border rounded-lg aspect-square border-green text-green"
          :class="[current.boardState.correctSolution && 'bg-green text-white']"
          @click="toggleCorrectSolution()"
        >
          <Icon name="ph:check" size="24" />
        </button>
      </div>
    </div>
  </div>

  <div v-else class="flex flex-col items-center justify-center h-full gap-4 mx-auto opacity-40">
    <Icon name="ph:x-circle" size="40" />
    <span>This tsumego does not exist {{ tsumego }}</span>
  </div>
</template>

<script setup lang="ts">
import { Player, Position, SgfParserService, SgfWriterService, useGoValidator } from '@go158/go-validator';
import { Command } from '~/composables/useEditorHistory';

const { params } = useRoute();
const { pending, data: tsumego } = useFetch(`/api/tsumego/${Number(params.id)}`, {
  transform: data => data.result,
});

const appContext = getCurrentInstance()!.appContext;
const commentTextArea = ref<HTMLTextAreaElement>();
const { focused: commentTextAreaFocused } = useFocus(commentTextArea);
const placingStones = ref(false);
const deleting = ref(false);
const editing = ref(false);
const updatingName = ref(false);
const updatingSgf = ref(false);
const updatingVisibility = ref(false);
const togglePlacingStones = useToggle(placingStones);
const altKeyState = useKeyModifier('Alt');
const name = ref<HTMLInputElement>();
const { initial, current, navigator, editor, addMove, setInitialBoardState } = useGoValidator();
const savedSgf = ref(SgfWriterService.fromBoardState(initial.value.boardState));
const { pushCommand } = useEditorHistory();
const unsavedChanged = computed(() => {
  const currentSgf = SgfWriterService.fromBoardState(initial.value.boardState);
  return currentSgf !== savedSgf.value;
});

const loadTsumego = () => {
  if (tsumego.value === null) return;

  savedSgf.value = tsumego.value.sgf;
  const initialBoardState = SgfParserService.parseSgf(tsumego.value.sgf);
  setInitialBoardState(initialBoardState);
};

loadTsumego();
watch(tsumego, loadTsumego);

const onPositionClicked = (position: Position) => {
  if (placingStones.value) {
    const player = altKeyState.value ? Player.WHITE : Player.BLACK;

    const command: Command = {
      execute: () => current.value.placeStone(player, position),
      undo: () => current.value.removeStone(position),
    };

    command.execute();
    pushCommand(command);
    return;
  }

  addMove({
    player: current.value.boardState.playerToMove,
    position,
  });

  const nodeAdded = current.value.boardState;

  const command: Command = {
    execute: () => {
      editor.addNode(nodeAdded);
    },
    undo: () => {
      editor.removeNode(nodeAdded);
    },
  };

  pushCommand(command);
};

const focusName = () => {
  if (tsumego.value === null) return;

  if (editing.value) {
    updateName();
    return;
  }

  editing.value = true;

  setTimeout(() => {
    name.value?.focus();
    name.value?.select();
  }, 0);
};

const updateName = async () => {
  if (tsumego.value === null) return;

  updatingName.value = true;

  await $fetch(`/api/tsumego/${tsumego.value.id}`, {
    method: 'PATCH',
    body: {
      name: tsumego.value.name?.length === 0 ? null : tsumego.value.name,
    },
  });

  tsumego.value.name = tsumego.value.name?.length === 0 ? null : tsumego.value.name;
  tsumego.value.modified_at = (new Date()).toISOString();
  editing.value = false;
  updatingName.value = false;
};

const deleteTsumego = async () => {
  if (tsumego.value === null) return;

  deleting.value = true;

  await $fetch(`/api/tsumego/${tsumego.value.id}`, {
    method: 'DELETE',
  });

  navigateTo('/library');
};

const downloadTsumego = () => {
  if (tsumego.value === null) return;

  const blob = new Blob([tsumego.value.sgf], { type: 'plain/text' });
  const downloadLink = document.createElement('a');
  downloadLink.href = URL.createObjectURL(blob);
  downloadLink.download = `${tsumego.value.name ?? tsumego.value.id}.sgf`;
  downloadLink.click();
};

const updateTsumego = async () => {
  if (tsumego.value === null) return;

  updatingSgf.value = true;

  await $fetch(`/api/tsumego/${tsumego.value.id}`, {
    method: 'PATCH',
    body: {
      sgf: SgfWriterService.fromBoardState(initial.value.boardState),
    },
  });

  updatingSgf.value = false;
  tsumego.value.modified_at = (new Date()).toISOString();
  savedSgf.value = SgfWriterService.fromBoardState(initial.value.boardState);
};

const changeVisibility = async () => {
  if (tsumego.value === null) return;

  updatingVisibility.value = true;

  const { error } = await useFetch(`/api/tsumego/${tsumego.value.id}`, {
    method: 'PATCH',
    watch: false,
    body: {
      public: !tsumego.value.public,
    },
  });

  if (error.value !== null) {
    useSnackBar(appContext,
      error.value.data?.statusMessage ||
      error.value.data?.message ||
      error.value.statusMessage ||
      error.value.message, SnackBarType.ERROR,
    );
  } else {
    tsumego.value.public = !tsumego.value.public;
    tsumego.value.modified_at = (new Date()).toISOString();
  }

  updatingVisibility.value = false;
};

const toggleCorrectSolution = () => {
  current.value.setCorrectSolution(!current.value.boardState.correctSolution);
};
</script>
