<template>
  <div class="flex items-center w-full mx-auto max-w-tsumego">
    <div class="flex flex-col items-center justify-center w-full">
      <div class="grid w-full gap-6 grid-cols-main">
        <MainCard class="flex flex-col-reverse w-0 min-w-full shadow-main justify-center">
          <span v-if="solving" class="opacity-40 p-8 text-center">Tsumego tree hidden while solving</span>
          <template v-else>
            <textarea
              v-if="current.boardState.comment.length > 0"
              v-model="current.boardState.comment"
              placeholder="Write a comment..."
              rows="4"
              class="p-4 resize-none focus:outline-none bg-mine-shaft-700 text-sm font-mono"
              disabled
            />

            <hr v-if="current.boardState.comment.length > 0" class="border-2 border-mine-shaft-900">

            <GameTree :current-board-state="current.boardState" :initial-board-state="initial.boardState" @node-clicked="(node) => navigator.navigateToNode(node)" />
          </template>
        </MainCard>

        <div class="flex items-center justify-center w-0 h-full min-w-full aspect-square">
          <ClientOnly v-if="!loading || !solving">
            <Board class="w-full h-full shadow-main rounded-3xl" :initial="initial.boardState" :current="current.boardState" @position-clicked="onPositionClicked" />
          </ClientOnly>

          <Icon v-else name="ph:spinner" size="32" class="animate-spin opacity-40" />
        </div>

        <MainCard class="flex flex-col w-0 min-w-full shadow-main">
          <div class="flex flex-col gap-y-8 items-center flex-grow m-8">
            <NuxtLink class="flex items-center gap-3 group" :to="'/login'">
              <NuxtImg :src="user?.user_metadata.picture ?? 'https://www.computerhope.com/jargon/g/guest-user.png'" placeholder="https://www.computerhope.com/jargon/g/guest-user.png" width="40" />
              <span v-if="username === null" class="text-xl italic font-medium group-hover:underline">Login / Signup</span>
              <span v-else class="text-xl font-medium group-hover:underline">{{ username }}</span>
            </NuxtLink>

            <PracticeSession />
          </div>

          <hr class="border-2 border-mine-shaft-900">

          <div class="grid grid-cols-3 gap-4 m-6 overflow-hidden text-xl text-ellipsis whitespace-nowrap">
            <div class="flex flex-col col-span-3">
              <span class="text-xs text-white/40">Creator</span>
              <NuxtLink>
                <span class="hover:underline after:content-['_↗']">{{ tsumego?.owner.username }}</span>
              </NuxtLink>
            </div>

            <div class="flex flex-col">
              <span class="text-xs text-white/40">Views</span>
              <span>{{ tsumego?.stats.views }}</span>
            </div>

            <div class="flex flex-col">
              <span class="text-xs text-white/40">Attempts</span>
              <span>{{ tsumego?.stats.attempts }}</span>
            </div>

            <div class="flex flex-col">
              <span class="text-xs text-white/40">Solves</span>
              <span>{{ tsumego?.stats.solves }}</span>
            </div>
          </div>
        </MainCard>

        <Navigation class="w-0 mx-auto h-14 min-w-fit" :disabled="solving" :initial="initial.boardState" :current="current.boardState" :navigator="navigator" />

        <MainCard class="flex items-center w-0 gap-16 px-10 mx-auto h-14 min-w-fit jusitfy-around">
          <div class="flex gap-6">
            <button class="flex items-center gap-1 px-4 py-1 border rounded-full" :class="tsumego?.votes.currentUser === true && 'bg-white/20'" @click="updateVote(true)">
              <Icon size="16" name="ph:arrow-up" />
              <span>{{ tsumego?.votes.upvote ?? 0 }}</span>
            </button>
            <button class="flex items-center gap-1 px-4 py-1 border rounded-full" :class="tsumego?.votes.currentUser === false && 'bg-white/20'" @click="updateVote(false)">
              <Icon size="16" name="ph:arrow-down" />
              <span>{{ tsumego?.votes.downvote ?? 0 }}</span>
            </button>
          </div>

          <div class="flex gap-6">
            <button :disabled="solving" class="disabled:opacity-40" @click="!solving && download()">
              <Icon size="24" name="ph:download-simple" />
            </button>
            <button>
              <Icon size="24" name="ph:share-network" />
            </button>
            <button>
              <Icon size="24" name="ph:flag" class="duration-100 hover:text-red" />
            </button>
          </div>
        </MainCard>

        <div class="flex w-0 min-w-full gap-3 h-14">
          <button v-if="solving" class="px-4 py-3 font-medium basis-1/3 rounded-2xl bg-red" @click="giveUp()">
            Give up
          </button>
          <button :disabled="solving" class="flex-grow px-4 py-4 font-medium rounded-2xl bg-green disabled:opacity-40" @click="nextTsumego()">
            <Icon v-show="loading && !solving" name="ph:spinner" size="20" class="animate-spin" />
            <span v-if="!loading || solving">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { SgfParserService, useGoValidator, Position } from '@go158/go-validator';

const user = useSupabaseUser();
const { username } = useProfile();

const solving = ref(true);
const { params } = useRoute();
const { tsumego, loading, increaseAttemps, increaseSolves, incrementViews, updateVote, refresh, download } = useTsumego(Number(params.id.length ? params.id : undefined));
const { solves, total } = usePracticeSession();
const { initial, current, navigator, setInitialBoardState, addMove } = useGoValidator();
const { fire } = useConfetti();

const loadTsumego = () => {
  if (tsumego.value === null) return;

  const initialBoardState = SgfParserService.parseSgf(tsumego.value.sgf);
  setInitialBoardState(initialBoardState);
  incrementViews();
};

loadTsumego();
watch(tsumego, loadTsumego);

const onPositionClicked = (position: Position) => {
  // If this is the first move, increase tsumego attempts
  if (solving.value && current.value.boardState === initial.value.boardState) increaseAttemps();

  // Place move
  addMove({
    player: current.value.boardState.playerToMove,
    position,
  });

  // After placing move, if current position is correct, increase solves
  if (current.value.boardState.correctSolution) {
    if (solving.value) {
      increaseSolves();
      solves.value += 1;
      total.value += 1;
    }
    fire();
    solving.value = false;
  }

  // After placing move, if current position is leaf, set solving to false
  if (current.value.boardState.children.size === 0) {
    if (solving.value) total.value += 1;
    solving.value = false;
  }

  // Auto-play white
  setTimeout(() => {
    if (!solving.value) return;

    const childKeys = Array.from(current.value.boardState.children.keys());
    const whiteMove = childKeys[Math.floor(Math.random() * childKeys.length)];
    navigator.navigateForward(whiteMove);

    // After playing white, if current position is leaf, set solving to false (rare)
    if (current.value.boardState.children.size === 0) {
      if (solving.value) total.value += 1;
      solving.value = false;
    }
  }, 250);
};

const nextTsumego = async () => {
  if (params.id.length > 0) {
    navigateTo('/');
    return;
  }

  await refresh();
  solving.value = true;
};

const giveUp = () => {
  solving.value = false;
  increaseAttemps();
  total.value += 1;
};
</script>
