<template>
  <div class="flex items-center justify-center">
    <Icon v-if="loading" name="ph:spinner" size="32" class="animate-spin opacity-40" />
    <div v-else class="grid grid-cols-5 gap-10 w-full">
      <div class="p-4 cursor-pointer group flex items-center text-center justify-center duration-150 shadow-main bg-mine-shaft-700 rounded-3xl group hover:scale-105 opacity-60" @click="createNewTsumego">
        <Icon v-if="creatingNewTsumego" name="ph:spinner" class="animate-spin" size="40" />
        <div v-else class="flex flex-col gap-8">
          <div class="flex flex-col items-center gap-4">
            <Icon name="ph:plus-circle-thin" size="40" />
            <span class="mx-4"> Create a new Tsumego!</span>
          </div>

          <button class="flex gap-4 items-center border w-fit mx-auto px-4 py-1 rounded-lg hover:bg-mine-shaft-900 opacity-0 group-hover:opacity-100" @click.stop="open()">
            <span>Upload</span>
            <Icon name="ph:upload" />
          </button>
        </div>
      </div>

      <div v-for="tsumego in computedTsumegos" :key="tsumego.id" class="group relative duration-150 shadow-main bg-mine-shaft-700 rounded-3xl group hover:scale-105">
        <button
          class="absolute -top-4 -right-4 group-hover:opacity-100 w-10 h-10 bg-red rounded-full"
          :class="[
            deletingTsumego === tsumego.id ? 'opacity-100' : 'opacity-0'
          ]"
          @click="deleteTsumego(tsumego.id)"
        >
          <Icon :name="deletingTsumego === tsumego.id ? 'ph:spinner' : 'ph:trash'" :class="[deletingTsumego === tsumego.id && 'animate-spin']" size="20" />
        </button>

        <NuxtLink :to="`/editor/${tsumego.id}`" class="flex flex-col gap-4 p-4">
          <ClientOnly>
            <Board class="duration-300 rounded-xl" :initial="tsumego.boardState" :current="tsumego.boardState" :show-coordinates="false" />
          </ClientOnly>

          <div class="flex flex-col items-start w-full gap-2 text-start">
            <div class="flex items-center justify-between w-full gap-2">
              <span class="text-xl whitespace-nowrap truncate" :class="tsumego.name === null && 'italic'">{{ tsumego.name ?? 'No name' }}</span>
              <span class="text-sm text-white/40">#{{ tsumego.id }}</span>
            </div>

            <div class="flex items-center gap-2">
              <Icon name="ph:calendar-thin" size="24" />
              <span class="text-xs">{{ tsumego.created.value }}</span>
            </div>

            <div class="flex items-center gap-2">
              <Icon :name="tsumego.public ? 'ph:globe' : 'ph:lock'" size="24" />
              <span class="text-xs">{{ tsumego.public ? 'Public' : 'Private' }}</span>
            </div>
          </div>
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { SgfParserService, SgfWriterService, createBoardState, useBoardState } from '@go158/go-validator';

const { tsumegos, loading } = useTsumegoLibrary();
const creatingNewTsumego = ref(false);
const deletingTsumego = ref<number>();
const { open, files } = useFileDialog({
  multiple: true,
  accept: '.sgf',
});

watch(files, async (files) => {
  if (files === null) return;

  creatingNewTsumego.value = true;

  await Promise.all(
    Array.from(files).map(async (file) => {
      const sgf = await file.text();

      // Clean sgf
      // This is needed because right now, SgfParseService will ignore unknown SGF Properties.
      // To know if a file is saved, we compare the selected.value.sgf with the sgf of the parent component (editor).
      // If we save the selected.value.sgf with the original SGF, it will include unknown properties, so the SGF of the parent component will differ
      // Since the SGF of the parent component is extracted from the initial board state, and this is computed using SgfWriterService, the 2 sgfs will be different.
      // TODO: this is too hacky, we should find a better way of handling this
      const cleanedSgf = SgfWriterService.fromBoardState(
        SgfParserService.parseSgf(sgf),
      );

      const { result } = await $fetch('/api/tsumego', {
        method: 'POST',
        body: {
          sgf: cleanedSgf ?? SgfWriterService.fromBoardState(createBoardState()),
        },
      });

      if (result === null) return;

      tsumegos.value?.push(result);
    }),
  );

  creatingNewTsumego.value = false;
});

const computedTsumegos = computed(() => {
  if (tsumegos.value === null) return [];

  return tsumegos.value
    .sort((a, b) => new Date(b.created_at).getTime() - new Date(a.created_at).getTime())
    .map((tsumego) => {
      return {
        boardState: useBoardState(SgfParserService.parseSgf(tsumego.sgf)).boardState,
        id: tsumego.id,
        name: tsumego.name,
        public: tsumego.public,
        created: useTimeAgo(new Date(tsumego.created_at)),
        modified: useTimeAgo(new Date(tsumego.modified_at)),
      };
    });
});

const createNewTsumego = async () => {
  creatingNewTsumego.value = true;

  const { result } = await $fetch('/api/tsumego', {
    method: 'POST',
    body: {
      sgf: SgfWriterService.fromBoardState(createBoardState()),
    },
  });

  if (result === null) return;

  navigateTo(`/editor/${result.id}`);
};

const deleteTsumego = async (tsumegoId: number) => {
  if (tsumegos.value === null) return;

  deletingTsumego.value = tsumegoId;

  await $fetch(`/api/tsumego/${tsumegoId}`, {
    method: 'DELETE',
  });

  deletingTsumego.value = undefined;
  const index = tsumegos.value.findIndex(tsumego => tsumego.id === tsumegoId);
  if (index > -1) {
    tsumegos.value?.splice(index, 1);
  }
};
</script>
