<template>
  <div v-if="confirmEmail" class="mx-auto flex items-center">
    <div
      class="flex flex-col items-center gap-10 py-20 px-10 shadow-sm max-w-96 rounded-xl bg-mine-shaft-700"
    >
      <Icon
        name="ph:envelope-light"
        size="40"
      />

      <span class="text-xl font-bold whitespace-nowrap">Please verify your address</span>
      <span class="text-center whitespace-nowrap">Activate your account by<br>clicking the verification link<br>that
        has been sent to<br><br><b>{{ email }}</b>
      </span>
    </div>
  </div>

  <div v-else class="flex items-center justify-center min-h-header">
    <div class="flex flex-col items-center w-72">
      <form class="flex w-full flex-col items-center" @submit.prevent>
        <span class="mb-10 text-2xl">
          {{ login ? 'Login' : 'Signup' }}
        </span>

        <label v-if="!login" for="username" class="mb-4 w-full">
          <input
            id="username"
            v-model="username"
            type="text"
            class="h-12 px-5 py-4 rounded-xl bg-mine-shaft-700 w-full"
            placeholder="Username"
            required
          >
        </label>

        <label for="email" class="mb-4 w-full">
          <input
            id="email"
            v-model="email"
            type="text"
            class="h-12 px-5 py-4 rounded-xl bg-mine-shaft-700 w-full"
            placeholder="Email"
            required
          >
        </label>

        <label for="password" class="mb-8 w-full">
          <input
            id="password"
            v-model="password"
            type="password"
            class="h-12 px-5 py-4 rounded-xl bg-mine-shaft-700 w-full"
            placeholder="Password"
            required
          >
        </label>

        <button :disabled="email.length === 0 || password.length === 0 || (username.length === 0 && !login)" type="submit" class="w-full h-12 mb-4 font-medium border rounded-xl disabled:opacity-20" @click="loginOrSignup()">
          <Icon
            v-if="loginOrSigningIn"
            name="fa6-solid:spinner"
            class="animate-spin"
          />
          <span v-else>{{ login ? 'Login' : 'Signup' }}</span>
        </button>
      </form>

      <button class="underline" @click="toggleLoginSignup()">
        {{ login ? 'Are you new here? Sign up!' : 'I already have an account.' }}
      </button>

      <hr class="w-full my-6 border-mine-shaft-700">

      <button
        class="w-full h-12 text-mine-shaft-900 bg-white rounded-xl"
        @click="onContinueWithGoogleClicked"
      >
        <div
          v-if="!loggingInGoogle"
          class="flex items-center justify-center font-medium gap-4"
        >
          <img src="/images/google-logo.svg">
          <span>Continue with Google</span>
        </div>

        <Icon
          v-else
          name="fa6-solid:spinner"
          class="animate-spin"
        />
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
const { auth } = useSupabaseAuthClient();

const { appContext } = getCurrentInstance()!;
const login = ref(true);
const email = ref('');
const password = ref('');
const username = ref('');
const confirmEmail = ref(false);
const loggingInGoogle = ref(false);
const loginOrSigningIn = ref(false);

const toggleLoginSignup = useToggle(login);

const onContinueWithGoogleClicked = async () => {
  const { error } = await auth.signInWithOAuth({
    provider: 'google',
    options: {
      redirectTo: window.location.origin,
    },
  });

  if (error !== null) {
    useSnackBar(appContext, error.message, SnackBarType.ERROR);
  }
};

const loginOrSignup = async () => {
  loginOrSigningIn.value = true;

  if (login.value) {
    const { error } = await auth.signInWithPassword({
      email: email.value,
      password: password.value,
    });

    if (error !== null) {
      useSnackBar(appContext, error.message, SnackBarType.ERROR);
    }
  } else {
    const { error } = await auth.signUp({
      email: email.value,
      password: password.value,
      options: {
        data: {
          username: username.value,
        },
        emailRedirectTo: window.location.origin,
      },
    });

    confirmEmail.value = error === null;

    if (error !== null) {
      useSnackBar(appContext, error.message, SnackBarType.ERROR);
    }
  }

  loginOrSigningIn.value = false;
};
</script>
